<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Selection</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{css/styles.css}">
</head>

<body onload="setupCourseList()">

<div th:insert="components/navbar :: navbar"></div>

<form action="#" name="submitForm" th:action="@{/course_selection}" th:object="${courses}" method="post" onsubmit="return courseValidation()">
    <div class="container">
        <div class="row d-flex justify-content-center card-margin" th:each="courseenroll,stat : ${courses.enrollment}">
            <div class="col-sm-12 col-md-10 col-lg-10">
                <div class="card p-5">
                    <!-- Hidden inputs required for form submission-->
                    <input type="hidden"
                           th:field="*{enrollment[__${stat.index}__].course.courseCode}"
                           th:value="${courseenroll.course.getCourseCode()}"/>
                    <input type="hidden"
                           th:field="*{enrollment[__${stat.index}__].course.name}"
                           th:value="${courseenroll.course.getName()}"/>
                    <input type="hidden"
                           th:field="*{enrollment[__${stat.index}__].course.faculty}"
                           th:value="${courseenroll.course.getFaculty()}"/>
                    <input type="hidden"
                           th:field="*{enrollment[__${stat.index}__].course.description}"
                           th:value="${courseenroll.course.getDescription()}"/>
                    <input type="hidden"
                           th:field="*{enrollment[__${stat.index}__].course.credits}"
                           th:value="${courseenroll.course.getCredits()}"/>
                    <input type="hidden"
                           th:field="*{enrollment[__${stat.index}__].course.availableSeats}"
                           th:value="${courseenroll.course.getAvailableSeats()}"/>
                    <input type="hidden"
                           th:field="*{enrollment[__${stat.index}__].course.courseId}"
                           th:value="${courseenroll.course.getCourseId()}"/>
                    <input type="hidden"
                           th:field="*{enrollment[__${stat.index}__].course.capacity}"
                           th:value="${courseenroll.course.getCapacity()}"/>
                    <input type="hidden"
                           th:field="*{enrollment[__${stat.index}__].course.year}"
                           th:value="${courseenroll.course.getYear}"/>
                    <input type="hidden"
                           th:field="*{enrollment[__${stat.index}__].course.term}"
                           th:value="${courseenroll.course.getTerm()}"/>

                    <div class="card-title align-self-center">
                        <!-- Course Code -->
                        <span class="lead"
                              th:field="*{enrollment[__${stat.index}__].course.courseCode}"
                              th:text="${courseenroll.course.getCourseCode()}">
                        </span>
                        <!-- Course Name -->
                        <span class="lead"
                              th:field="*{enrollment[__${stat.index}__].course.name}"
                              th:text="${courseenroll.course.getName()}">
                        </span>
                        <span> &nbsp; by &nbsp;</span>
                        <!-- Faculty -->
                        <span class="lead" th:field="*{enrollment[__${stat.index}__].course.faculty}"
                              th:text="${courseenroll.course.getFaculty()}">
                        </span>

                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <div class="col-sm-10">
                                <div class="row">
                                    <dt class="col-sm-3">
                                        Course Description
                                    </dt>
                                    <dd class="col-sm-9" style="text-align: justify;"
                                        th:field="*{enrollment[__${stat.index}__].course.description}"
                                        th:text="${courseenroll.course.getDescription()}">
                                    </dd>
                                    <br>
                                    <dt class="col-sm-3">
                                        Credits
                                    </dt>
                                    <dd class="col-sm-9"
                                        th:field="*{enrollment[__${stat.index}__].course.credits}"
                                        th:text="${courseenroll.course.getCredits()}">
                                    </dd>
                                    <br>
                                    <dt class="col-sm-3">
                                        Available Seats
                                    </dt>
                                    <br>
                                    <dd class="col-sm-9"
                                        th:field="*{enrollment[__${stat.index}__].course.availableSeats}"
                                        th:text="${courseenroll.course.getAvailableSeats()}">
                                    </dd>
                                </div>

                            </div>
                            <div class="col-sm-2 my-auto">
                                <!-- Enroll Button -->
                                <div th:if="${courseenroll.getValue()==0}" class="text-center">
                                    <input type="checkbox" class="custom-control-input enroll-checkbox"
                                           th:attrappend="name=${courseenroll.course.getCourseId()}"
                                           th:attr="id=${courseenroll.course.getCourseId()}"
                                           th:field="*{enrollment[__${stat.index}__].value}"
                                           autocomplete="off"
                                           th:value=3
                                           onclick="enrollCheckboxOnClick(this)"
                                            /> <br>
                                    <label class="custom-control-label"
                                           th:attr="for=${courseenroll.course.getCourseId()}">
                                        Enroll
                                    </label>
                                    <input type="hidden"
                                           th:attrappend="name=${courseenroll.course.getCourseId()}"
                                           th:field="*{enrollment[__${stat.index}__].value}"
                                           th:value=0 />
                                </div>
                                <!-- De-Enroll Button -->
                                <div th:if="${courseenroll.getValue()==1}" class="text-center">
                                    <input type="checkbox" class="custom-control-input enroll-checkbox"
                                           th:name="|${courseenroll.course.getCourseId()}-1|"
                                           th:id="|${courseenroll.course.getCourseId()}-1|"
                                           th:field="*{enrollment[__${stat.index}__].value}"
                                           autocomplete="off"
                                           th:value=2
                                           onclick="deenrollCheckboxOnClick(this)"
                                            /> <br>
                                    <label class="custom-control-label"
                                           th:for="|${courseenroll.course.getCourseId()}-1|">
                                        De-Enroll
                                    </label>
                                    <input type="hidden"
                                           th:name="|${courseenroll.course.getCourseId()}-1|"
                                           th:field="*{enrollment[__${stat.index}__].value}"
                                           th:value=1 />
                                </div>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center course-submit">
            <input type="submit" name="submit" id="submit" value="Submit" autocomplete="off" class="btn btn-primary"/>
        </div>
        <script th:src="@{scripts/course_validation.js}"></script>
    </div>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
</script>
</body>

</html>